<form class="{{cssClass}} hazard-sheet" autocomplete="on">

    {{> "systems/animaprime/templates/partials/script-health.hbs" system}}

    <div class="decorative-square">&nbsp;</div>
    <header class="flexcol">    
        <div class="header-namestrip flexrow flex0">
            <input class="name" name="name" type="text" value="{{actor.name}}" />            
        </div>
    </header>
    <div class="flexrow sheet-columns">
        <div class="left-side flexcol">
            <div class="flex0">
                <div class="image-container">
                    <img src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
                </div>
                <div class="icon-container defense-button">
                    <div class="icon button-changevalue health plus" data-property="health.value" data-operation="plus"><i class="fas fa-plus"></i></div>
                    <div class="icon button-changevalue health minus"data-property="health.value" data-operation="minus"><i class="fas fa-minus"></i></div>
                    <div class="icon button-changevalue healthmax plus" data-property="health.max" data-operation="plus"><i class="fas fa-plus"></i></div>
                    <div class="icon button-changevalue healthmax minus"data-property="health.max" data-operation="minus"><i class="fas fa-minus"></i></div>
                    <div class="icon button-changevalue plus" data-property="defense" data-operation="plus"><i class="fas fa-plus"></i></div>
                    <div class="icon button-changevalue minus"data-property="defense" data-operation="minus"><i class="fas fa-minus"></i></div>
                    <div class="health-defense">
                        <div class="health-bar-frame">
                            <div class="health-bar-frame health-bar"></div>
                            <span>{{system.health.value}} / {{system.health.max}}</span>
                        </div>
                        <div class="attribute-value">
                            <span>{{system.defense}}</span>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="right-side flexcol dice-pools">
            <div class="dice-pool-strip icon-container flex0">                    
                <div class="icon button-changevalue plus" data-property="threatDice" data-operation="plus"><i class="fas fa-plus"></i></div>
                <div class="icon button-changevalue minus"data-property="threatDice" data-operation="minus"><i class="fas fa-minus"></i></div>
                <label>Threat Dice</label>
                <div class="attribute-value">
                    <span>{{system.threatDice}}</span>
                </div>
            </div>
        </div>
    </div>

    <section class="actions-section">
        {{#each basicActions as |item id|}}
        {{> "systems/animaprime/templates/cards/item-card/item-card.hbs" item enableEdit=true}}
        {{/each}}
        {{#each actions as |item id|}}
        {{> "systems/animaprime/templates/cards/item-card/item-card.hbs" item enableEdit=true}}
        {{/each}}
    </section> 
</form>