<div class="roll-skill roll {{flavor.entityData.type}}" data-type="{{flavor.entityData.type}}">
    <div class="roll item" data-item-id="{{_id}}">        
        <div class="roll-header flexrow">
            <img class="roll-img" src="icons/skills/trades/academics-study-reading-book.webp" title="{{flavor.entityData.name}}" />
            <div class="flexcol">
                <h4 class="header-title">Skill {{#if flavor.isReroll}}re{{/if}}roll ({{flavor.targetData.0.resultData.difficultyText}}):</h4>
                <h4 class="header-name">{{flavor.entityData.name}}</h4>
            </div>
        </div>        
        <div class="flexcol">
            <div class="flexrow">
                <ol class="rolls">
                    {{#each flavor.targetData.0.rollResult.dice.0.results}}
                    <li class="roll{{#if this.success}} success{{/if}}">{{{this.result}}}</li>
                    {{/each}}                
                </ol>                
            </div>            
            {{#if (isSkillSuccess flavor.targetData.0.resultData.successes)}}
            <span class="result-message success">{{flavor.targetData.0.resultData.successes}} successes. Total Success!</span>
            {{/if}}
            {{#if (is1 flavor.targetData.0.resultData.successes)}}
            <span class="result-message partial">1 success. Partial Success.</span>
            {{/if}}
            {{#if (is0 flavor.targetData.0.resultData.successes)}}
            <span class="result-message failure">Total Failure!</span>
            {{/if}}
        </div>        
    </div>    
</div>