<div class="roll-maneuver roll maneuver" data-type="maneuver">
    <div class="roll item" data-item-id="{{_id}}">        
        <div class="roll-header flexrow">            
            <img class="roll-img" src="{{flavor.entityData.img}}" title="{{flavor.entityData.name}}" />
            <div class="flexcol">
                <h4 class="header-title">Maneuver {{#if flavor.isReroll}}re{{/if}}roll{{#unless flavor.additionalData.isRegular}} - {{flavor.additionalData.maneuverStyle}}{{/unless}} {{#if flavor.additionalData.hasSupportDie}}(with support){{/if}}:</h4>
                <h4 class="header-name">{{flavor.entityData.name}}</h4>
            </div>
        </div>        
        <div class="flexcol">
            <div class="flexrow">
                <ol class="rolls">
                    {{#if flavor.additionalData.isSlowed}}
                    <li class="roll slowed" title="Slowed Condition die"></li>
                    {{/if}}
                    {{#each flavor.rollResults.dice.0.results}}
                    <li class="roll{{#if this.strike}} success strike-success{{/if}}{{#if this.charge}} success charge-success{{/if}}" title="Maneuver die">{{{this.result}}}</li>
                    {{/each}}
                    {{#if flavor.additionalData.isReckless}}
                    <li class="roll reckless{{#if flavor.additionalData.recklessDice.0.strike}} success strike-success{{/if}}{{#if flavor.additionalData.recklessDice.0.charge}} success charge-success{{/if}}" title="Reckless die">{{{flavor.additionalData.recklessDice.0.result}}}</li>
                    <li class="roll reckless{{#if flavor.additionalData.recklessDice.1.strike}} success strike-success{{/if}}{{#if flavor.additionalData.recklessDice.1.charge}} success charge-success{{/if}}" title="Reckless die">{{{flavor.additionalData.recklessDice.1.result}}}</li>
                    {{/if}}
                    {{#if flavor.additionalData.isQuickened}}
                    <li class="roll quickened{{#if flavor.additionalData.quickenedDie.strike}} success strike-success{{/if}}{{#if flavor.additionalData.quickenedDie.charge}} success charge-success{{/if}}" title="Quickened Condition die">{{{flavor.additionalData.quickenedDie.result}}}</li>
                    {{/if}}
                    {{#if flavor.additionalData.isAggressive}}
                    <li title="Aggressive Modifier die" class="roll success strike-success">&nbsp;</li>
                    {{/if}}
                    {{#if flavor.additionalData.hasSupportDie}}
                    <li class="roll bonus{{#if flavor.additionalData.supportDice.0.strike}} success strike-success{{/if}}{{#if flavor.additionalData.supportDice.0.charge}} success charge-success{{/if}}" title="Support die">{{{flavor.additionalData.supportDice.0.result}}}</li>
                    {{/if}}
                </ol>
                {{#if flavor.enableReroll}}
                <div class="button-reroll-container flex0">
                    <div class="button-roll reroll"><i class="fas fa-redo"></i></div>
                    <div class="button-roll commit"><i class="fas fa-check"></i></div>
                </div>
                {{/if}}
            </div>            
            <span class="result-message">
            {{#if flavor.resultData.strike}}
            + {{flavor.resultData.strike}} strike{{#if (is1 flavor.resultData.strike)}} die{{else}} dice{{/if}}
            {{/if}}
            &nbsp;
            {{#if flavor.resultData.charge}}
            + {{flavor.resultData.charge}} charge{{#if (is1 flavor.resultData.charge)}} die{{else}} dice{{/if}}
            {{/if}}

            {{#if flavor.additionalData.hasSupportDie}}
            <br />(+1 bonus die to roll)
            {{/if}}
            {{#if flavor.additionalData.isAggressive}}
            <br />(+1 bonus strike die)
            {{/if}}
            {{#if flavor.additionalData.isCunning}}
            <br />(+1 threat die to enemy)
            {{/if}}
            {{#if flavor.additionalData.isDefensive}}
            <br />(-1 threat die)
            {{/if}}
            {{#if flavor.additionalData.isHeroic}}
            <br />(+1 bonus progress die to goal)
            {{/if}}
            {{#if flavor.additionalData.isReckless}}
            <br />(+2 bonus dice to roll, +1 threat die)
            {{/if}}
            {{#if flavor.additionalData.isSupportive}}
            <br />(+1 bonus strike die to ally)
            {{/if}}

            </span>        
        </div>
        
    </div>    
</div>