<div class="roll-maneuver roll maneuver roll-message-container" data-type="maneuver">
    <div class="roll item" data-item-id="{{_id}}">
        <div class="roll-header">
            <img class="roll-img" src="{{flavor.entityData.img}}" title="{{flavor.entityData.name}}" />
            <div class="header-label">
                <h4 class="header-title">Maneuver {{#if flavor.isReroll}}re{{/if}}roll</h4>
                <h4 class="header-name" title="{{flavor.entityData.name}}">{{flavor.entityData.name}}</h4>
            </div>
            <div class="item-description">
                <p>{{flavor.entityData.system.description}}</p>
                {{#if flavor.entityData.system.additionalEffect}}
                    <p><strong>Additional Effect:</strong><br />{{flavor.entityData.system.additionalEffect}}</p>
                {{/if}}
            </div>
        </div>

        <div class="flexcol">
            <div class="target-section">
                <ol class="rolls rolls-{{flavor.targetData.[0].rollsId}}">
                    {{#if flavor.targetData.[0].additionalData.slowedDie}}
                    <li class="roll roll-slowed outside-dice" title="Dazed Condition die: {{flavor.targetData.[0].additionalData.slowedDie.result}}"><img src="../../systems/animaprime/assets/d6-forbidden.svg" /><div class="roll-dice slowed">{{flavor.targetData.[0].additionalData.slowedDie.result}}</div></li>
                    {{/if}}
                    {{#if flavor.targetData.[0].additionalData.defensiveDie}}
                    <li class="roll roll-defensive outside-dice" title="Defensive Maneuver die: {{flavor.targetData.[0].additionalData.defensiveDie.result}}"><img src="../../systems/animaprime/assets/d6-forbidden.svg" /><div class="roll-dice defensive">{{flavor.targetData.[0].additionalData.defensiveDie.result}}</div></li>
                    {{/if}}
                    {{#each flavor.targetData.[0].rollResult.dice.0.results}}
                    {{#unless this.invisible}}
                    <li class="roll {{#if this.strike}}success strike-success{{/if}} {{#if this.charge}}success charge-success{{/if}}" title="Maneuver die"><div class="roll-dice">{{{this.result}}}</div></li>
                    {{/unless}}
                    {{/each}}
                    {{#if flavor.targetData.[0].additionalData.isReckless}}
                    <li class="roll {{#if flavor.targetData.[0].additionalData.recklessDice.0.strike}} success strike-success{{/if}}{{#if flavor.targetData.[0].additionalData.recklessDice.0.charge}} success charge-success{{/if}}" title="Reckless die"><div class="roll-dice reckless">{{flavor.targetData.[0].additionalData.recklessDice.0.result}}</div></li>
                    <li class="roll {{#if flavor.targetData.[0].additionalData.recklessDice.1.strike}} success strike-success{{/if}}{{#if flavor.targetData.[0].additionalData.recklessDice.1.charge}} success charge-success{{/if}}" title="Reckless die"><div class="roll-dice reckless">{{flavor.targetData.[0].additionalData.recklessDice.1.result}}</div></li>
                    {{/if}}
                    {{#if flavor.targetData.[0].additionalData.isQuickened}}
                    <li class="roll quickened{{#if flavor.targetData.[0].additionalData.quickenedDie.strike}} success strike-success{{/if}}{{#if flavor.targetData.[0].additionalData.quickenedDie.charge}} success charge-success{{/if}}" title="Quickened Condition die"><div class="roll-dice quickened">{{flavor.targetData.[0].additionalData.quickenedDie.result}}</div></li>
                    {{/if}}
                    {{#if flavor.targetData.[0].additionalData.isAggressive}}
                    <li title="Aggressive Modifier die" class="roll success strike-success"><div class="roll-dice">*</div></li>
                    {{/if}}
                    {{#if flavor.targetData.[0].additionalData.hasSupportDie}}
                    <li class="roll quickened{{#if flavor.targetData.[0].additionalData.supportDice.0.strike}} success strike-success{{/if}}{{#if flavor.targetData.[0].additionalData.supportDice.0.charge}} success charge-success{{/if}}" title="Supported Condition die"><div class="roll-dice supported">{{flavor.targetData.[0].additionalData.supportDice.0.result}}</div></li>
                    {{/if}}
                </ol>
                <span class="result-message">
                    {{#if flavor.targetData.[0].resultData.strike}}
                    + {{flavor.targetData.[0].resultData.strike}} strike{{#if (is1 flavor.targetData.[0].resultData.strike)}} die{{else}} dice{{/if}}
                    {{/if}}
                    &nbsp;
                    {{#if flavor.targetData.[0].resultData.charge}}
                    + {{flavor.targetData.[0].resultData.charge}} charge{{#if (is1 flavor.targetData.[0].resultData.charge)}} die{{else}} dice{{/if}}
                    {{/if}}

                    {{#if flavor.targetData.[0].additionalData.hasSupportDie}}
                    <br />(+1 bonus die to roll)
                    {{/if}}
                    {{#if flavor.targetData.[0].additionalData.isAggressive}}
                    <br />(+1 bonus strike die)
                    {{/if}}
                    {{#if flavor.targetData.[0].additionalData.isCunning}}
                    <br />(+1 threat die to enemy)
                    {{/if}}
                    {{#if flavor.targetData.[0].additionalData.isDefensive}}
                    <br />(-1 strike success, -1 threat die)
                    {{/if}}
                    {{#if flavor.targetData.[0].additionalData.isMethodical}}
                        {{#if flavor.targetData.[0].additionalData.isPositiveTarget}}
                            <br />(+1 bonus progress die to goal)
                        {{else}}
                            <br />(-1 bonus progress die to goal)
                        {{/if}}
                    {{/if}}
                    {{#if flavor.targetData.[0].additionalData.isReckless}}
                    <br />(+2 bonus dice to roll, +1 threat die)
                    {{/if}}
                    {{#if flavor.targetData.[0].additionalData.isSupportive}}
                    <br />(+1 bonus strike die to ally)
                    {{/if}}
                </span>
            </div>
        </div>
    </div>
</div>
{{#if flavor.enableReroll}}
<div class="button-reroll-container flexrow">
    <div class="button-roll reroll">Reroll <i class="fas fa-redo"></i></div>
    <div class="button-roll commit">Commit <i class="fas fa-check"></i></div>
</div>
{{/if}}