<form class="{{cssClass}} action-sheet">
    <section class="sheet-header flexrow flex-0">
        <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
        <div class="field-container name flexcol">
            <label>{{item.type}} Name</label>
            <div class="value-field">
                <input type="text" name="name" value="{{item.name}}" />
            </div>
        </div>
        <div class="field-container flexcol">
            <label>cost</label>
            <div class="value-field">
                <input type="text" name="system.cost" value="{{system.cost}}" data-dtype="Number" />
            </div>
        </div>
        <div class="field-container flexcol">
            <label>basic?</label>
            <div class="value-field">
                <input type="checkbox" name="system.basic" {{checked system.basic}} data-dtype="Boolean" />
            </div>
        </div>
    </section>
    <section class="action-system flexrow">
        {{#if system.effect}}
        <div class="flexrow">
            {{#if system.trigger}}
            <div class="field-container flexcol">
                <label>trigger</label>
                <div class="value-field">
                    <input type="text" name="system.trigger" value="{{system.trigger}}" data-dtype="String" />
                </div>
            </div>
            {{/if}}
             {{#if system.key}}
            <div class="field-container flexcol">
                <label>key</label>
                <div class="value-field">
                    <input type="text" name="system.key"  value="{{system.key}}" data-dtype="String" />
                </div>
            </div>
            {{/if}}
            {{#if system.effect}}
            <div class="field-container flexcol">
                <label>effect</label>
                <div class="value-field">
                    <input type="text" name="system.effect"  value="{{system.effect}}" data-dtype="String" />
                </div>
            </div>
            {{/if}}
        </div>
        {{/if}}
        {{#if system.roll}}
        <div class="field-container flexcol" {{#if system.gain}} style="flex: 0 0 40%" {{/if}}>
            <label>roll</label>
            <div class="value-field">
                <input type="text" name="system.roll"  value="{{system.roll}}" data-dtype="String" />
            </div>
        </div>
        {{/if}}
        {{#if system.targets}}
        <div class="field-container flexcol">
            <label>targets</label>
            <div class="value-field">
                <input type="text" name="system.targets"  value="{{system.targets}}" data-dtype="String" />
            </div>
        </div>
        {{/if}}
        {{#if system.range includeZero=true}}
        <div class="field-container flexcol">
            <label>range</label>
            <div class="value-field">
                <input type="text" name="system.range"  value="{{system.range}}" data-dtype="String" />
            </div>
        </div>
        {{/if}}
        {{#if system.sdl}}
        <div class="field-container flexcol">
            <label>sdl</label>
            <div class="value-field">
                <input type="text" name="system.sdl"  value="{{system.sdl}}" data-dtype="String" />
            </div>
        </div>
        {{/if}}
        {{#if system.damage}}
        <div class="field-container flexcol">
            <label>damage</label>
            <div class="value-field">
                <input type="text" name="system.damage"  value="{{system.damage}}" data-dtype="String" />
            </div>
        </div>
        {{/if}}
        {{#if system.gain}}
        <div class="gain">
            <h4 class="box-title">Gain Selection</h4>
            <div class="flexrow">
                <div class="flexrow">
                    <span>1: </span>
                    <select class="gain-select" data-field="system.gain.r1">
                        <option value="0" {{#if (is0 system.gain.r1)}} selected {{/if}}>Fail</option>
                        <option value="1" {{#if (is1 system.gain.r1)}} selected {{/if}}>Strike</option>
                        <option value="2" {{#if (is2 system.gain.r1)}} selected {{/if}}>Charge</option>
                    </select>
                </div>
                <div class="flexrow">
                    <span>2: </span>
                <select class="gain-select" data-field="system.gain.r2">
                    <option value="0" {{#if (is0 system.gain.r2)}} selected {{/if}}>Fail</option>
                    <option value="1" {{#if (is1 system.gain.r2)}} selected {{/if}}>Strike</option>
                    <option value="2" {{#if (is2 system.gain.r2)}} selected {{/if}}>Charge</option>
                </select>
                </div>
                <div class="flexrow">
                    <span>3: </span>
                <select class="gain-select" data-field="system.gain.r3">
                    <option value="0" {{#if (is0 system.gain.r3)}} selected {{/if}}>Fail</option>
                    <option value="1" {{#if (is1 system.gain.r3)}} selected {{/if}}>Strike</option>
                    <option value="2" {{#if (is2 system.gain.r3)}} selected {{/if}}>Charge</option>
                </select>
                </div>
                <div class="flexrow">
                    <span>4: </span>
                <select class="gain-select" data-field="system.gain.r4">
                    <option value="0" {{#if (is0 system.gain.r4)}} selected {{/if}}>Fail</option>
                    <option value="1" {{#if (is1 system.gain.r4)}} selected {{/if}}>Strike</option>
                    <option value="2" {{#if (is2 system.gain.r4)}} selected {{/if}}>Charge</option>
                </select>
                </div>
                <div class="flexrow">
                    <span>5: </span>
                <select class="gain-select" data-field="system.gain.r5">
                    <option value="0" {{#if (is0 system.gain.r5)}} selected {{/if}}>Fail</option>
                    <option value="1" {{#if (is1 system.gain.r5)}} selected {{/if}}>Strike</option>
                    <option value="2" {{#if (is2 system.gain.r5)}} selected {{/if}}>Charge</option>
                </select>
                </div>
                <div class="flexrow">
                    <span>6: </span>
                <select class="gain-select" data-field="system.gain.r6">
                    <option value="0" {{#if (is0 system.gain.r6)}} selected {{/if}}>Fail</option>
                    <option value="1" {{#if (is1 system.gain.r6)}} selected {{/if}}>Strike</option>
                    <option value="2" {{#if (is2 system.gain.r6)}} selected {{/if}}>Charge</option>
                </select>
                </div>
            </div>
        </div>
        {{/if}}
    </section>
    <section class="flexrow description-section" {{#if system.gain}}style=" margin-top: 0 "{{/if}}>
        <div class="field-container flexcol">
            <label>description</label>
            <div class="value-field">
                <input type="text" name="system.description" value="{{system.description}}" data-dtype="String" />
            </div>
        </div>
    </section>
    <section class="flexrow description-section"></section>
            <div class="field-container flexcol">
            <label>Additional Effect</label>
            <div class="value-field">
                <input type="text" name="system.additionalEffect" value="{{system.additionalEffect}}" data-dtype="String" />
            </div>
        </div>
    </section>
    <section>
        <div class="flexrow script-button-container">
            <div class="button-container">
                <button class="script-button" data-event="validations">Validations Script</button>
                <textarea class="textarea-event" data-event="system.scriptValidations">{{system.scriptValidations}}</textarea>
            </div>
            <div class="button-container">
                <button class="script-button" data-event="beforeResolve">BeforeResolve Script</button>
                <textarea class="textarea-event" data-event="system.scriptBeforeResolve">{{system.scriptBeforeResolve}}</textarea>
            </div>
            <div class="button-container">
                <button class="script-button" data-event="afterResolve">AfterResolve Script</button>
                <textarea class="textarea-event" data-event="system.scriptAfterResolve">{{system.scriptAfterResolve}}</textarea>
            </div>
        </div>
    </section>
</form>