<div class="item-card-container {{type}}">
    <img src="{{img}}" />
    <div class="item-card item item-roll" data-item-id="{{_id}}">        
        <div class="item-header icon-container">
            <label class="item-title">{{name}}</label>
            <i class="icon{{#unless enableEdit}} edit-hidden{{/unless}} item-title fas fa-edit item-edit"></i>
            <i class="icon{{#unless enableEdit}} edit-hidden{{/unless}} item-title fas fa-trash item-delete"></i>
        </div>
        <div class="item-description-container">
            <span class="item-description">{{system.description}}</span>
            {{#if system.gainText}}
            <span class="item-description"><strong>Gain: </strong>{{system.gainText}}</span>
            {{/if}}
            {{#if system.trigger}}
            <span class="item-description"><strong>Trigger: </strong>{{system.trigger}}</span>
            {{/if}}
            {{#if system.effect}}
            <span class="item-description"><strong>Effect: </strong>{{system.effect}}</span>
            {{/if}}
            {{#if system.damage}}
            <span class="item-description"><strong>Damage Type: </strong>{{system.damage}}</span>
            {{/if}}
        </div>        
        <div class="cells">
            {{#if system.roll}}
            <div class="roll flexcol flex0">
                <span class="cell-label">ROLL</span>
                <span>{{system.roll}}</span>
            </div>
            {{/if}}
            {{#if system.cost includeZero=true}}
            <div class="cost flexcol flex0">
                <span class="cell-label">COST</span>
                <span>{{system.cost}}</span>
            </div>
            {{/if}}
            {{#if system.sdl}}
            <div class="cost flexcol flex0">
                <span class="cell-label">SDL</span>
                <span>{{system.sdl}}</span>
            </div>
            {{/if}}
            {{#if system.targets}}
            <div class="cost flexcol flex0">
                <span class="cell-label">TGTS</span>
                <span>{{#if (eq system.targets 99)}}All{{else}}{{system.targets}}{{/if}}</span>
            </div>
            {{/if}}
            {{#if system.range}}
            <div class="cost flexcol flex0">
                <span class="cell-label">RNG</span>
                <span>{{system.range}}</span>
            </div>
            {{/if}}            
        </div>
    </div>
</div>