<div class="item-card-container {{type}}">
    <img src="{{img}}" />
    <div class="item-card item item-roll" data-item-id="{{_id}}">        
        <div class="item-header icon-container">
            <label class="item-title">{{name}}</label>
            <i class="icon {{#unless ../data.enableEdit}}edit-hidden{{/unless}} item-title fas fa-edit item-edit"></i>
            <i class="icon {{#unless ../data.enableEdit}}edit-hidden{{/unless}} item-title fas fa-trash item-delete"></i>
        </div>
        <span class="item-description">{{data.description}}</span>
        {{#if data.gainText}}
        <span class="item-description"><strong>Gain: </strong>{{data.gainText}}</span>
        {{/if}}
        {{#if data.trigger}}
        <span class="item-description"><strong>Trigger: </strong>{{data.trigger}}</span>
        {{/if}}
        {{#if data.effect}}
        <span class="item-description"><strong>Effect: </strong>{{data.effect}}</span>
        {{/if}}
        {{#if data.damage}}
        <span class="item-description"><strong>Damage Type: </strong>{{data.damage}}</span>
        {{/if}}
        <div class="cells">
            {{#if data.roll}}
            <div class="roll flexcol flex0">
                <span class="cell-label">ROLL</span>
                <span>{{data.roll}}</span>
            </div>
            {{/if}}
            {{#if data.cost includeZero=true}}
            <div class="cost flexcol flex0">
                <span class="cell-label">COST</span>
                <span>{{data.cost}}</span>
            </div>
            {{/if}}
            {{#if data.sdl}}
            <div class="cost flexcol flex0">
                <span class="cell-label">SDL</span>
                <span>{{data.sdl}}</span>
            </div>
            {{/if}}
            {{#if data.targets}}
            <div class="cost flexcol flex0">
                <span class="cell-label">TGTS</span>
                <span>{{data.targets}}</span>
            </div>
            {{/if}}
            {{#if data.range}}
            <div class="cost flexcol flex0">
                <span class="cell-label">RNG</span>
                <span>{{data.range}}</span>
            </div>
            {{/if}}            
        </div>
    </div>
</div>