<section class="{{cssClass}} combat-tracker-tab directory flexcol" id="{{cssId}}" data-tab="{{tabName}}">
    {{#if combat.isUpdating}}
    <div class="sidebar-curtain">
        <span>Updating...</span>
        <div class="ring-2">
          <div class="ball-holder">
            <div class="ball"></div>
          </div>
        </div>
    </div>
    {{/if}}
    <header class="combat-tracker-header">
        {{#if user.isGM}}
        <nav class="encounters flexrow" aria-label="COMBAT.NavLabel">
            <a class="combat-button combat-create" data-tooltip="COMBAT.Create">
                <i class="fas fa-plus"></i>
            </a>
            {{#if combatCount}}
            <a class="combat-button combat-cycle" data-tooltip="COMBAT.EncounterPrevious"
               {{#if previousId}}data-document-id="{{previousId}}"{{else}}disabled{{/if}}>
                <i class="fas fa-caret-left"></i>
            </a>
            <h4 class="encounter">{{localize "COMBAT.Encounter"}} {{currentIndex}} / {{combatCount}}</h4>
            <a class="combat-button combat-cycle" data-tooltip="COMBAT.EncounterNext"
               {{#if nextId}}data-document-id="{{nextId}}"{{else}}disabled{{/if}}>
                <i class="fas fa-caret-right"></i>
            </a>
            {{/if}}
            <a class="combat-button combat-control" data-tooltip="COMBAT.Delete" data-control="endCombat" {{#unless combatCount}}disabled{{/unless}}>
                <i class="fas fa-trash"></i>
            </a>
        </nav>
        {{/if}}

        <div class="encounter-controls flexrow {{#if hasCombat}}combat{{/if}}">            
            {{#if combatCount}}
            {{#if combat.round}}
            <h3 class="encounter-title noborder">{{localize 'COMBAT.Round'}} {{combat.round}}</h3>
            {{else}}
            <h3 class="encounter-title noborder">{{localize 'COMBAT.NotStarted'}}</h3>
            {{/if}}
            {{else}}
            <h3 class="encounter-title noborder">{{localize "COMBAT.None"}}</h3>
            {{/if}}
        </div>
    </header>

    <ol id="combat-tracker" class="directory-list main-queue">
        {{#each turns}}
            {{#if (isOnQueue this)}}
                {{#if (isMultiple10 this.initiative)}}
                    <li class="combatant actor directory-item flexrow{{#if this.isOnTurn}} active{{/if}}" data-combatant-id="{{this.id}}">                                        
                        <div class="flexrow" style="flex: auto">
                            <img style="align-self: center" class="token-image" data-src="{{this.img}}" title="{{this.name}}"/>
                            <div class="token-name flexcol">
                                <h4>{{this.displayName}}</h4>
                                {{#unless this.v}}<h4 class="turnUnitData">HP:{{this.healthValue}}{{#if this.threatValue}} - Threat: {{this.threatValue}}{{/if}}</h4>{{/unless}}
                                <div class="combatant-controls flexrow">
                                    {{#if ../user.isGM}}
                                    <a class="combatant-control {{#if this.defeated}}active{{/if}}" title="{{localize 'COMBAT.ToggleDead'}}" data-control="toggleDefeated">
                                        <i class="fas fa-skull"></i></a>
                                    {{/if}}
                                    <div class="token-effects">
                                        {{#each this.effects}}
                                        <img class="token-effect" src="{{this}}"/>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    </li>
                {{/if}}
            {{/if}}
        {{/each}}
    </ol>
        
    <h3 class="encounter combat-section-title friendly-section flex0">Friendly Units</h4>

    <ol id="combat-tracker" class="directory-list waiting-line">
        {{#each turns}}

            {{#unless (isGoal this)}}

            {{#if (and (isOutOfQueue this.initiative) (isFriendly this.faction)) }}
            {{#unless this.isAlly}}
            <li class="combatant actor directory-item flexrow {{this.css}} {{this.faction}} {{#if this.isAlly}} ally{{/if}}" data-combatant-id="{{this.id}}">
                <img class="token-image" src="{{this.img}}" title="{{this.name}}"/>
                <div class="token-name flexcol">
                    <h4>{{this.displayName}}</h4>
                    {{#unless this.defeated}}<h4 class="turnUnitData">HP:{{this.healthValue}}{{#if this.threatValue}} - Threat: {{this.threatValue}}{{/if}}</h4>{{/unless}}
                    <div class="combatant-controls flexrow">
                        {{#if ../user.isGM}}
                        <a class="combatant-control {{#if this.defeated}}active{{/if}}" title="{{localize 'COMBAT.ToggleDead'}}" data-control="toggleDefeated">
                            <i class="fas fa-skull"></i></a>
                        {{/if}}
                        <div class="token-effects">
                            {{#each this.effects}}
                            <img class="token-effect" src="{{this}}"/>
                            {{/each}}
                        </div>
                    </div>
                </div>

                <div class="token-initiative">                    
                    {{#if (and (canTakeTurn this.initiative) (or owner ../user.isGM))}}
                        {{#unless this.defeated}}
                            <button class="combatant-take-turn" title="take turn" data-control="takeTurn">Take Turn</button>
                        {{/unless}}
                    {{/if}}                    
                </div>
            </li>            
            {{/unless}}            
            {{/if}}

            {{/unless}}
        {{/each}}
        {{#each turns}}

            {{#unless (isGoal this)}}

            {{#if (and (isOutOfQueue this.initiative) (isFriendly this.faction)) }}
            {{#if this.isAlly}}
            <li class="combatant actor directory-item flexrow {{this.css}} {{this.faction}} ally" data-combatant-id="{{this.id}}">
                <img class="token-image" src="{{this.img}}" title="{{this.name}}"/>
                <div class="token-name flexcol">
                    <h4>{{this.displayName}}</h4>                    
                    {{#unless this.defeated}}<h4 class="turnUnitData">HP:{{this.healthValue}}{{#if this.threatValue}} - Threat: {{this.threatValue}}{{/if}}</h4>{{/unless}}
                    <div class="combatant-controls flexrow">
                        {{#if ../user.isGM}}
                        <a class="combatant-control {{#if this.defeated}}active{{/if}}" title="{{localize 'COMBAT.ToggleDead'}}" data-control="toggleDefeated">
                            <i class="fas fa-skull"></i></a>
                        {{/if}}
                        <div class="token-effects">
                            {{#each this.effects}}
                            <img class="token-effect" src="{{this}}"/>
                            {{/each}}
                        </div>
                    </div>
                </div>

                <div class="token-initiative">                    
                {{#if (and (canTakeTurn this.initiative) (or owner ../user.isGM))}}
                    {{#unless ../combat.combsFriendlyWaitingTurn}}
                    {{#unless this.defeated}}
                        <button class="combatant-take-turn" title="take turn" data-control="takeTurn">Take Turn</button>
                    {{/unless}}
                    {{/unless}}
                {{/if}}                    
                </div>
            </li>
            {{/if}}
            {{/if}}

            {{/unless}}

        {{/each}}
    </ol>

    <h3 class="encounter combat-section-title hostile-section flex0">Hostile Units</h4>
    
    <ol id="combat-tracker" class="directory-list waiting-line">
        {{#each turns}}

            {{#unless (isGoal this)}}

            {{#if (and (isOutOfQueue this.initiative) (isHostile this.faction)) }}
            <li class="combatant actor directory-item flexrow {{this.css}} {{this.faction}}" data-combatant-id="{{this.id}}">
                <img class="token-image" src="{{this.img}}" title="{{this.name}}"/>
                <div class="token-name flexcol">
                    <h4>{{this.displayName}}</h4>
                    {{#unless this.defeated}}<h4 class="turnUnitData">HP:{{this.healthValue}}{{#if this.threatValue}} - Threat: {{this.threatValue}}{{/if}}</h4>{{/unless}}
                    <div class="combatant-controls flexrow">
                        {{#if ../user.isGM}}
                        <a class="combatant-control {{#if this.defeated}}active{{/if}}" title="{{localize 'COMBAT.ToggleDead'}}" data-control="toggleDefeated">
                            <i class="fas fa-skull"></i></a>
                        {{/if}}
                        <div class="token-effects">
                            {{#each this.effects}}
                            <img class="token-effect" src="{{this}}"/>
                            {{/each}}
                        </div>
                    </div>
                </div>

                <div class="token-initiative">                    
                    {{#if (and (canTakeTurn this.initiative) (or isControlling ../user.isGM))}}
                        {{#unless this.defeated}}
                            <button class="combatant-take-turn" title="take turn" data-control="takeTurn">Take Turn</button>
                        {{/unless}}
                    {{/if}}                         
                </div>
            </li>
            {{/if}}

            {{/unless}}
            
        {{/each}}
    </ol>

    <nav id="combat-controls" class="directory-footer flexrow">    
        {{#if user.isGM}}
            {{#if round}}                
                <a class="combat-control" title="{{localize 'COMBAT.RoundPrev'}}" data-control="previousRound"><i class="fas fa-step-backward"></i></a>
                {{#if this.combat.combsOnQueue.length}}
                <a class="combat-custom-control" title="{{localize 'COMBAT.TurnPrev'}}" data-control="cancelTurn"><i class="fas fa-arrow-left"></i></a>
                {{else}}
                <span>&nbsp;</span>
                {{/if}}
                <a class="combat-control center" title="{{localize 'COMBAT.End'}}" data-control="endCombat">{{localize 'COMBAT.End'}}</a>
                {{#unless this.combat.combsWaitingTurn.length}}
                <a class="combat-custom-control" title="{{localize 'COMBAT.TurnNext'}}" data-control="endTurn"><i class="fas fa-check"></i></a>
                {{else}}
                <span>&nbsp;</span>
                {{/unless}}
                <a class="combat-control" title="{{localize 'COMBAT.RoundNext'}}" data-control="nextRound"><i class="fas fa-step-forward"></i></a>
            {{else}}
                <a class="combat-control center" title="{{localize 'COMBAT.Begin'}}" data-control="startCombat">{{localize 'COMBAT.Begin'}}</a>
            {{/if}}
        {{else if this.combat.isOwnerOfCurrentComb}}
            {{#unless this.combat.combsWaitingTurn.length}}                
                <a class="combat-custom-control center" title="Cancel Turn" data-control="cancelTurn">Cancel <i class="fas fa-cancel"></i></a>
                <a class="combat-custom-control center" title="End Turn" data-control="endTurn">End <i class="fas fa-check"></i></a>                
            {{/unless}}
        {{/if}}
    </nav>    
</section>
