<div class="roll-strike roll strike roll-message-container" data-type="strike">
    <div class="item" data-item-id="{{id}}">
        <div class="roll-header">
            <img class="roll-img" src="{{flavor.entityData.img}}" title="{{flavor.entityData.name}}" />
            <div class="header-label">
                <h4 class="header-title">Strike {{#if flavor.isReroll}}re{{/if}}roll</h4>
                <h4 class="header-name" title="{{flavor.entityData.name}}">{{flavor.entityData.name}}</h4>
            </div>
            <div class="item-description">
                <p>{{flavor.entityData.system.description}}</p>
                {{#if flavor.entityData.system.additionalEffect}}
                    <p><strong>Additional Effect:</strong><br />{{flavor.entityData.system.additionalEffect}}</p>
                {{/if}}
            </div>
        </div>
        <div class="flexcol">
            {{#each flavor.targetData}}
            <div class="flexrow target-section">
                <ol class="rolls rolls-{{this.rollsId}}">
                    {{#each this.additionalData.weakenedDice}}
                    <li class="roll roll-weaken outside-dice" title="Weakened Condition die: {{this.result}}"><img src="../../systems/animaprime/assets/d6-forbidden.svg" /><div class="roll-dice weakened">{{this.result}}</div></li>
                    {{/each}}

                    {{#each this.additionalData.resistanceDice}}
                    <li class="roll roll-resistance outside-dice" title="Resistance die"><img src="../../systems/animaprime/assets/d6-forbidden.svg" /><div class="roll-dice resistance">&nbsp;</div></li>
                    {{/each}}

                    {{#unless (is0 this.additionalData.successDice.length)}}({{/unless}}
                    {{#each this.additionalData.successDice}}
                    <li title="Ability Modifier die" class="roll outside-dice success"><div class="roll-dice success-die">*</div></li>
                    {{/each}}
                    {{#unless (is0 this.additionalData.successDice.length)}}){{/unless}}

                    {{#each this.additionalData.abilityDice}}
                    <li title="Ability die" class="roll{{#if (isSuccess this.result)}} success{{/if}}"><div class="roll-dice">{{{this.result}}}</div></li>
                    {{/each}}

                    {{#each this.additionalData.strikeDice}}
                    <li title="Strike die" class="roll strike{{#if (isSuccess this.result)}} success{{/if}}"><div class="roll-dice strike">{{{this.result}}}</div></li>
                    {{/each}}

                    {{#each this.additionalData.actionDice}}
                    <li title="Action die" class="roll action{{#if (isSuccess this.result)}} success{{/if}}"><div class="roll-dice action">{{{this.result}}}</div></li>
                    {{/each}}

                    {{#each this.additionalData.variableDice}}
                    <li title="Threat die" class="roll threat{{#if (isSuccess this.result)}} success{{/if}}"><div class="roll-dice variable">{{{this.result}}}</div></li>
                    {{/each}}

                    {{#each this.additionalData.bonusDice}}
                    <li title="Bonus die" class="roll bonus{{#if (isSuccess this.result)}} success{{/if}}"><div class="roll-dice bonus">{{{this.result}}}</div></li>
                    {{/each}}

                    {{#each this.additionalData.empoweredDice}}
                    <li title="Empowered Condition die"class="roll condition{{#if (isSuccess this.result)}} success{{/if}}"><div class="roll-dice empowered">{{{this.result}}}</div></li>
                    {{/each}}

                    {{#each this.additionalData.scaleReductionDice}}
                    <li class="roll roll-weaken outside-dice" title="Power Scale Reduction"><img src="../../systems/animaprime/assets/d6-forbidden.svg" /><div class="roll-dice weakened">{{this.result}}</div></li>
                    {{/each}}


                    {{#if (gt this.additionalData.scaleDice.length 10)}}
                        <li title="Power Scale Augmentation"class="roll outside-dice success"><div class="extra-dice-label">+ {{this.additionalData.scaleDice.length}}x <div class="roll-dice empowered">*</div></div></li>
                    {{else}}
                        {{#each this.additionalData.scaleDice}}
                        <li title="Power Scale Augmentation"class="roll outside-dice success"><div class="roll-dice empowered">*</div></li>
                        {{/each}}
                    {{/if}}

                </ol>
                <span class="result-message{{#if this.resultData.hit}} success{{/if}} {{#unless this.resultData.successes}} failure{{/unless}}">
                {{#if this.resultData.hit}}
                    {{#if (eq this.resultData.wounds 1)}}
                        CRITICAL HIT! {{this.targetName}} gains a wound!
                    {{/if}}
                    {{#if (gt this.resultData.wounds 1)}}
                        OBLITERATION HIT! {{this.targetName}} gains {{this.resultData.wounds}} wounds!
                    {{/if}}
                {{else}}
                    {{#if this.resultData.successes}}
                        {{#if (gt this.resultData.variableGain 0)}}
                            Hit! {{this.targetName}} gained {{this.resultData.variableGain}} threat {{#if (is1 this.resultData.variableGain)}}die{{else}}dice{{/if}}.
                        {{else}}
                            Defend! the strike was mitigated by {{this.targetName}}.
                        {{/if}}
                    {{else}}
                        The strike missed {{this.targetName}} completely!
                    {{/if}}
                {{/if}}
                </span>
            </div>
            {{/each}}
        </div>
    </div>
</div>

{{#if flavor.enableReroll}}
<div class="button-reroll-container flexrow">
    {{#if (gt flavor.entityData.owner.system.reroll 0)}}
        <div class="button-roll reroll">Reroll <i class="fas fa-x"></i></div>
    {{/if}}
    <div class="button-roll commit">Commit <i class="fas fa-check"></i></div>
</div>
{{/if}}