<div class="action-hud-container">
    {{#unless game.combats.active.isUpdating}}
        <div class="hud-actions-container">
        {{#each mainActions}}
            <div class="bg-{{this.type}} action-hud-item item item-roll" data-item-id="{{this.id}}">
                <img src="{{this.img}}" />
                {{this.name}}
            </div>
            <div class="img-gear">&nbsp;</div>
        {{/each}}
        </div>
        <div class="hud-actions-container">
        {{#each basicActions}}
            <div class="bg-{{this.type}} action-hud-item item item-roll" data-item-id="{{this.id}}">
                <img src="{{this.img}}" />
                {{this.name}}
            </div>
            {{#if (or this.system.scriptAfterResolve this.system.scriptBeforeResolve)}}
                <img class="img-gear" src="../../systems/animaprime/assets/script-gear.png" />
            {{/if}}
        {{/each}}
        </div>
    {{/unless}}
</div>