<form class="{{cssClass}} goal-sheet" autocomplete="on">
    
    <section class="header">
        <img class="header-image" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
        <div contenteditable='true' class="header-name" name="name">{{actor.name}}</div>
    </section>
    <section class="main-sheet flexcol">
        <div class="cell flexrow select-goal-type">
            <select class="type-select" data-field="system.type">
                <option value="0" {{#if (is0 system.type)}} selected {{/if}}>Type: Friendly</option>
                <option value="1" {{#if (is1 system.type)}} selected {{/if}}>Type: Hostile</option>
                <!--<option value="2" {{#if (is2 system.type)}} selected {{/if}}>Type: Contest</option>-->
            </select>
        </div>
        <div class="cell flexrow">
            <label>Difficulty</label>
            <div class="property-value value-container">
                <div class="icon button-changevalue plus{{#if editUnlocked}} show-button{{/if}}" data-property="difficulty" data-operation="plus"><i class="fas fa-plus"></i></div>
                <div class="icon button-changevalue minus{{#if editUnlocked}} show-button{{/if}}" data-property="difficulty" data-operation="minus"><i class="fas fa-minus"></i></div>                            
                <span>{{system.difficulty}}</span>
            </div>
        </div>
        <div class="cell flexrow">
            <label>Progress Dice</label>
            <div class="property-value">
                <div class="icon button-changevalue plus{{#if editUnlocked}} show-button{{/if}}" data-property="progressDice" data-operation="plus"><i class="fas fa-plus"></i></div>
                <div class="icon button-changevalue minus{{#if editUnlocked}} show-button{{/if}}" data-property="progressDice" data-operation="minus"><i class="fas fa-minus"></i></div>
                <span>{{system.progressDice}}</span>
            </div>
        </div>
        <div class="cell flexrow">
            <label>Looming Turns</label>
            <div class="property-value">
                <div class="icon button-changevalue plus{{#if editUnlocked}} show-button{{/if}}" data-property="loomingTurns" data-operation="plus"><i class="fas fa-plus"></i></div>
                <div class="icon button-changevalue minus{{#if editUnlocked}} show-button{{/if}}" data-property="loomingTurns" data-operation="minus"><i class="fas fa-minus"></i></div>
                <span>{{system.loomingTurns}}</span>
            </div>
        </div>
    </section>
</form>