<form class="{{cssClass}} goal-sheet" autocomplete="on">
    
    <section class="header">
        <img class="header-image" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
        <label class="header-name">{{actor.name}}</label>
    </section>
    <section class="main-sheet flexcol">
        <div class="cell flexrow">
            <label>Difficulty</label>
            <div class="property-value value-container">
                <div class="icon button-changevalue plus{{#if editUnlocked}} show-button{{/if}}" data-property="difficulty" data-operation="plus"><i class="fas fa-plus"></i></div>
                <div class="icon button-changevalue minus{{#if editUnlocked}} show-button{{/if}}" data-property="difficulty" data-operation="minus"><i class="fas fa-minus"></i></div>                            
                <span>{{data.difficulty}}</span>
            </div>
        </div>
        <div class="cell flexrow">
            <label>Progress Dice</label>
            <div class="property-value">
                <div class="icon button-changevalue plus{{#if editUnlocked}} show-button{{/if}}" data-property="progressDice" data-operation="plus"><i class="fas fa-plus"></i></div>
                <div class="icon button-changevalue minus{{#if editUnlocked}} show-button{{/if}}" data-property="progressDice" data-operation="minus"><i class="fas fa-minus"></i></div>
                <span>{{data.progressDice}}</span>
            </div>
        </div>
        <div class="cell flexrow">
            <label>Looming Turns</label>
            <div class="property-value">
                <div class="icon button-changevalue plus{{#if editUnlocked}} show-button{{/if}}" data-property="loomingTurns" data-operation="plus"><i class="fas fa-plus"></i></div>
                <div class="icon button-changevalue minus{{#if editUnlocked}} show-button{{/if}}" data-property="loomingTurns" data-operation="minus"><i class="fas fa-minus"></i></div>
                <span>{{data.loomingTurns}}</span>
            </div>
        </div>
    </section>
</form>