<form class="{{cssClass}} goal-sheet" autocomplete="on">
    <section class="header">
        <img class="header-image" src="{{actor.img}}" title="{{actor.name}}" data-edit="img" />
        <div contenteditable='true' class="header-name" name="name">{{actor.name}}</div>
    </section>
    <div class="goal-sheet goal-sheet-{{actor.id}} flexcol">
        {{#if isGM}}
        <div class="cell flexrow select-goal-type">
            <select class="type-select" data-field="token.disposition">
                <option value="1" {{#if (eq options.token.disposition 1)}} selected {{/if}}>Type: Friendly</option>
                <option value="-1" {{#if (eq options.token.disposition -1)}} selected {{/if}}>Type: Hostile</option>
            </select>
        </div>
        {{/if}}

        {{#if (and (not isGM) (eq options.token.disposition -1))}}
        <div class="cell flexrow">
            <label>Progress</label>
            <div class="property-value value-container value-container-hostile">
                <span class="goal-layout-line">{{actor.progressPercent}}%</span>
            </div>
        </div>
        {{else}}
        <div class="cell flexrow">
            <label>Difficulty</label>
            <div class="property-value value-container">
                <div class="icon button-changevalue plus{{#if isGM}} show-button{{/if}}" data-property="difficulty" data-operation="plus"><i class="fas fa-plus"></i></div>
                <div class="icon button-changevalue minus{{#if isGM}} show-button{{/if}}" data-property="difficulty" data-operation="minus"><i class="fas fa-minus"></i></div>
                <span class="goal-layout-line">{{system.difficulty}}</span>
            </div>
        </div>
        <div class="cell flexrow">
            <label>Progress Dice</label>
            <div class="property-value">
                <div class="icon button-changevalue plus{{#if isGM}} show-button{{/if}}" data-property="progressDice" data-operation="plus"><i class="fas fa-plus"></i></div>
                <div class="icon button-changevalue minus{{#if isGM}} show-button{{/if}}" data-property="progressDice" data-operation="minus"><i class="fas fa-minus"></i></div>
                <span class="goal-layout-line">{{system.progressDice}}</span>
            </div>
        </div>
        {{/if}}

        {{#if (or eq isGM (gt system.loomingTurns 0))}}
        <div class="cell flexrow">
            <label>Looming Turns</label>
            <div class="property-value">
                <div class="icon button-changevalue plus{{#if isGM}} show-button{{/if}}" data-property="loomingTurns" data-operation="plus"><i class="fas fa-plus"></i></div>
                <div class="icon button-changevalue minus{{#if isGM}} show-button{{/if}}" data-property="loomingTurns" data-operation="minus"><i class="fas fa-minus"></i></div>
                <span class="goal-layout-line">{{system.loomingTurns}}</span>
            </div>
        </div>
        {{/if}}
    </div>
</form>