<div class="roll-achievement roll-message-container" data-type="achievement">
    <div class="roll item" data-item-id="{{_id}}">

        <div class="roll-header">
            <img class="roll-img" src="{{flavor.entityData.img}}" title="{{flavor.entityData.name}}" />
            <div class="header-label">
                <h4 class="header-title">Achievement {{#if flavor.isReroll}}re{{/if}}roll</h4>
                <h4 class="header-name">{{flavor.entityData.name}}</h4>
            </div>
            <div class="item-description">
                <p>{{flavor.entityData.system.description}}</p>
                {{#if flavor.entityData.system.additionalEffect}}
                    <p><strong>Additional Effect:</strong><br />{{flavor.entityData.system.additionalEffect}}</p>
                {{/if}}
            </div>
        </div>

        <div class="flexcol">
            {{#each flavor.targetData}}
            <div class="target-section">
                <ol class="rolls rolls-{{this.rollsId}}">
                    {{#unless (is0 this.additionalData.successDice.length)}}({{/unless}}
                    {{#each this.additionalData.successDice}}
                    <li title="Ability Modifier die" class="roll outside-dice success"><div class="roll-dice success-die">*</div></li>
                    {{/each}}
                    {{#unless (is0 this.additionalData.successDice.length)}}){{/unless}}

                    {{#each this.additionalData.abilityDice}}
                    <li title="Ability die" class="roll{{#if (isSuccess this.result)}} success{{/if}}"><div class="roll-dice">{{{this.result}}}</div></li>
                    {{/each}}

                    {{#each this.additionalData.strikeDice}}
                    <li title="Strike die" class="roll strike{{#if (isSuccess this.result)}} success{{/if}}"><div class="roll-dice strike">{{{this.result}}}</div></li>
                    {{/each}}

                    {{#each this.additionalData.actionDice}}
                    <li title="Action die" class="roll action{{#if (isSuccess this.result)}} success{{/if}}"><div class="roll-dice action">{{{this.result}}}</div></li>
                    {{/each}}

                    {{#each this.additionalData.variableDice}}
                    <li title="Threat die" class="roll threat{{#if (isSuccess this.result)}} success{{/if}}"><div class="roll-dice variable">{{{this.result}}}</div></li>
                    {{/each}}

                    {{#each this.additionalData.bonusDice}}
                    <li title="Bonus die" class="roll bonus{{#if (isSuccess this.result)}} success{{/if}}"><div class="roll-dice bonus">{{{this.result}}}</div></li>
                    {{/each}}
                </ol>
                <span class="result-message {{#if ../flavor.targetData.[0].resultData.hit}}success{{/if}}">
                    {{#if ../flavor.targetData.[0].resultData.hit}}
                    Goal COMPLETE!!!
                    {{else}}
                        {{#if (isPositiveGoal ../flavor.entityData.targetIds.[0] ../flavor.entityData.owner) }}
                            {{#if (is0 ../flavor.targetData.[0].resultData.variableGain)}}
                                No progress.
                            {{else}}
                                Some progress! <br /> {{../flavor.targetData.[0].resultData.variableGain}} progress {{#if (is1 ../flavor.targetData.[0].resultData.variableGain)}}die{{else}}dice{{/if}} added.
                            {{/if}}
                        {{else}}
                            {{#if (is0 ../flavor.targetData.[0].resultData.variableGain)}}
                                Couldn't sabotage progress! <br /> no progress dice taken.
                            {{else}}
                                Progress sabotaged! <br /> {{../flavor.targetData.[0].resultData.variableGain}} progress {{#if (is1 ../flavor.targetData.[0].resultData.variableGain)}}die{{else}}dice{{/if}} taken.
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </span>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{#if flavor.enableReroll}}
<div class="button-reroll-container flexrow">
    {{#if (gt flavor.entityData.owner.system.reroll 0)}}
        <div class="button-roll reroll">Reroll <i class="fas fa-redo"></i></div>
    {{/if}}
    <div class="button-roll commit">Commit <i class="fas fa-check"></i></div>
</div>
{{/if}}