<div class="roll-achievement roll achievement" data-type="achievement">
    <div class="roll item" data-item-id="{{_id}}">        
        <div class="roll-header">
            <div class="flexrow">
                <img class="roll-img" src="{{flavor.entityData.img}}" title="{{flavor.entityData.name}}" />
                <div class="flexcol">
                    <h4 class="header-title">{{flavor.entityData.type}} roll:</h4>
                    <h4 class="header-name">{{flavor.entityData.name}} - {{flavor.targetData.[0].targetName}}</h4>
                </div>
            </div>
            <div class="item-description">
                <p>{{flavor.entityData.system.description}}</p>                
            </div>
        </div>
        <div class="flexcol">
            <div class="target-section">
                <ol class="rolls">
                    {{#each flavor.targetData.[0].additionalData.abilityDice}}
                    <li class="roll{{#if (isSuccess this.result)}} success{{/if}}">{{{this.result}}}</li>
                    {{/each}}

                    {{#each flavor.targetData.[0].additionalData.strikeDice}}
                    <li class="roll strike{{#if (isSuccess this.result)}} success{{/if}}">{{{this.result}}}</li>
                    {{/each}}

                    {{#each flavor.targetData.[0].additionalData.actionDice}}
                    <li class="roll action{{#if (isSuccess this.result)}} success{{/if}}">{{{this.result}}}</li>
                    {{/each}}

                    {{#each flavor.targetData.[0].additionalData.variableDice}}
                    <li class="roll progress{{#if (isSuccess this.result)}} success{{/if}}">{{{this.result}}}</li>
                    {{/each}}

                    {{#each flavor.targetData.[0].additionalData.bonusDice}}
                    <li class="roll bonus{{#if (isSuccess this.result)}} success{{/if}}">{{{this.result}}}</li>
                    {{/each}}
                </ol>
                <span class="result-message {{#if flavor.targetData.[0].resultData.hit}}success{{/if}}">
                    {{#if flavor.targetData.[0].resultData.hit}}
                    Goal COMPLETE!!!
                    {{else}}
                        {{#if flavor.targetData.[0].resultData.successes}}
                            Some progress! <br /> {{flavor.targetData.[0].resultData.successes}} progress {{#if (is1 flavor.targetData.[0].resultData.successes)}}die{{else}}dice{{/if}} added.
                        {{else}}
                            No progress.
                        {{/if}}
                    {{/if}}
                </span>
            </div>
        </div>
        {{#if flavor.enableReroll}}
        <div class="button-reroll-container flexrow">
            <div class="button-roll reroll">Reroll <i class="fas fa-redo"></i></div>
            <div class="button-roll commit">Commit <i class="fas fa-check"></i></div>
        </div>
        {{/if}}
    </div>    
</div>