<script>

    $(".target-{{this.targetId}} > .form-strike-dice-max").val({{this.maxStrikeDice}})
    $(".target-{{this.targetId}} > .form-action-dice-max").val({{this.maxActionDice}})
    $(".target-{{this.targetId}} > .form-variable-dice-max").val({{this.maxVariableDice}})

    function modifyDice(diceType, add, targetId) {     
        
        const inputField = $(".target-" + targetId + " > .form-" + diceType)[0];
        const maxValue = $(".target-" + targetId + " > .form-"+ diceType + "-max").val() ?? 9999;
        const otherMaxInputs = $(".form-" + diceType + "-max").not(".target-" + targetId + " > .form-" + diceType + "-max");

        if (add) {            
            if (inputField.value < maxValue) {
                inputField.value++

                if (diceType == 'strike-dice' || diceType == 'action-dice')
                    otherMaxInputs.each(function (index) {
                        const maxVal = $(this).val()
                        if (maxVal > 0) 
                            $(this).val(parseInt($(this).val()) - 1)
                    })
            }
                
        } else {
            if (inputField.value > 0) {
                
                inputField.value--

                if (diceType == 'strike-dice' || diceType == 'action-dice')
                    otherMaxInputs.each(function (index) {
                        const maxVal = $(this).val()
                        if (maxVal < {{this.maxStrikeDice}}) 
                            $(this).val(parseInt($(this).val()) + 1)
                    })
            }
                

        }    
    }
</script>

<form>
    <div class="flexrow dialog-container">        
        {{#unless (isHazard owner.type)}}
        <div class=" dialog-field-container flexrow">
            <label>Add Strike Dice?</label>
            <div class="flexrow dialog-buttons">
                <button class="form-dialog-plusminus-button minus" onclick="modifyDice('strike-dice', false, '{{this.targetId}}')">
                    <span class="fas fa-minus" />
                </button>
                <div class="form-dice-field target-{{this.targetId}} flexrow">
                    <input type="text" class="form-strike-dice" name="strikeDice" disabled value="0" />
                    <span>/</span>
                    <input type="text" class="form-strike-dice-max" name="strikeDiceMax" disabled />
                </div>
                <button class="form-dialog-plusminus-button plus" onclick="modifyDice('strike-dice', true, '{{this.targetId}}')">
                    <span class="fas fa-plus" />
                </button>
            </div>
        </div>
        {{#if (isCharacter owner.type)}}
        <div class=" dialog-field-container flexrow">
            <label>Add Action Dice?</label>        
            <div class="flexrow dialog-buttons">
                <button class="form-dialog-plusminus-button minus" onclick="modifyDice('action-dice', false, '{{this.targetId}}')">
                    <span class="fas fa-minus" />
                </button>
                <div class="form-dice-field target-{{this.targetId}} flexrow">
                    <input type="text" class="form-action-dice" name="actionDice" disabled value="0" />
                    <span>/</span>
                    <input type="text" class="form-action-dice-max" name="actionDiceMax" disabled />
                </div>            
                <button class="form-dialog-plusminus-button plus" onclick="modifyDice('action-dice', true, '{{this.targetId}}')">
                    <span class="fas fa-plus" />
                </button>
            </div>
        </div>
        {{/if}}
        {{/unless}}
        <div class=" dialog-field-container flexrow">
            <label>Add {{this.variableDiceName}} from target?</label>        
            <div class="flexrow dialog-buttons">
                <button class="form-dialog-plusminus-button minus" onclick="modifyDice('variable-dice', false, '{{this.targetId}}')">
                    <span class="fas fa-minus" />
                </button>
                <div class="form-dice-field target-{{this.targetId}} flexrow">
                    <input type="text" class="form-variable-dice" name="variableDice" disabled value="0" />
                    <span>/</span>
                    <input type="text" class="form-variable-dice-max" name="variableDiceMax" disabled />
                </div>            
                <button class="form-dialog-plusminus-button plus" onclick="modifyDice('variable-dice', true, '{{this.targetId}}')">
                    <span class="fas fa-plus" />
                </button>
            </div>
        </div>
        <div class=" dialog-field-container flexrow">
            <label>Add Bonus Dice?</label>        
            <div class="flexrow dialog-buttons">
                <button class="form-dialog-plusminus-button minus" onclick="modifyDice('bonus-dice', false)">
                    <span class="fas fa-minus" />
                </button>
                <div class="form-dice-field target-{{this.targetId}} flexrow">
                    <input type="text" class="form-bonus-dice" name="bonusDice" disabled value="0" />
                </div>            
                <button class="form-dialog-plusminus-button plus" onclick="modifyDice('bonus-dice', true, '{{this.targetId}}')">
                    <span class="fas fa-plus" />
                </button>
            </div>
        </div>
        {{#unless (isAchievement type)}}
        <div class=" dialog-field-container flexcol">
            <label class="label-resistance">Target has Weakness?</label>        
            <div class="flexrow dialog-buttons">
                <input class="input-text check" name="weakness" value="1" type="radio" checked>No</input>
                <input class="input-text check" name="weakness" value="2" type="radio">Yes</input>
            </div>
        </div>
        <div class=" dialog-field-container flexrow">
            <label>Target has resistance?</label>        
            <div class="flexrow dialog-buttons">
                <button class="form-dialog-plusminus-button minus" onclick="modifyDice('resistance', false)">
                    <span class="fas fa-minus" />
                </button>
                <div class="form-dice-field target-{{this.targetId}} flexrow">
                    <input type="text" class="form-resistance" name="resistance" disabled value="0" />
                </div>            
                <button class="form-dialog-plusminus-button plus" onclick="modifyDice('resistance', true, '{{this.targetId}}')">
                    <span class="fas fa-plus" />
                </button>
            </div>
        </div>
        {{/unless}}
    </div>
</form>
